name: Docker

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        minecraft:
          - 1.16.4
          - 1.15.2
          - 1.14.4
          - 1.13.2
          - 1.12.2
          - 1.11.2
          - 1.10.2
          - 1.9.4
          - 1.8.8

    name: Tag Commit for Minecraft ${{ matrix.minecraft }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: kamaradcoal/minecraft-spigot:${{ matrix.minecraft }}-${{ github.sha }}
          build-args: |
            MINECRAFT_VERSION=${{ matrix.minecraft }}

      - name: Output container name
        run: |
          echo "kamaradcoal/minecraft-spigot:${{ matrix.minecraft }}-${{ github.sha }}"
