name: Docker

on:
  push:
    branches:
      - master

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        minecraft:
          - 1.16.5
          - 1.16.4
          - 1.15.2
          - 1.14.4
          - 1.13.2
          - 1.12.2
          - 1.11.2
          - 1.10.2
          - 1.9.4
          - 1.8.8

    name: Tag Latest for Minecraft ${{ matrix.minecraft }}

    steps:
      - uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v2.3.0
        with:
          images: kamaradcoal/minecraft-forge
          tag-semver: |
            ${{ matrix.minecraft }}-latest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            MINECRAFT_VERSION=${{ matrix.minecraft }}
