name: Testing

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        minecraft:
          - 1.16.4
          - 1.16.3
          - 1.16.2
          - 1.16.1
          - 1.16
          - 1.15.2
          - 1.15.1
          - 1.15

    steps:
      - uses: actions/checkout@v2

      - name: Set UUID
        id: uuid
        uses: filipstefansson/uuid-action@v1
        with:
          name: ${{ github.sha }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: kamaradcoal/minecraft-spigot:${{ steps.uuid.outputs.uuid }}
          build-args: |
            MINECRAFT_VERSION=${{ matrix.minecraft }}

      - name: Output container name
        run: |
          echo "kamaradcoal/minecraft-spigot:${{ steps.uuid.outputs.uuid }}"
